/* ======== header ========= */
.m-header{
    height: 55px;
    width: calc(100% - 230px);
    float: left;
    background-color: #0973b9!important;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
}
.m-header .mi-three-stripes{
    margin: 0 10px;
}
.m-header-branch{
    display: flex;
    align-items: center;
    padding-left: 12px;
}
.m-header-right .m-version{
    margin: 0 20px;
}
.m-account{
    width: 128px;
}
.m-account-name{
    padding: 0 5px;
}

.m-header-left, .m-header-right, .m-account{
    display: flex;
    justify-content: start;
    align-items: center;
}
.m-account{
    margin: 0 16px;
}
.m-account .mi-chevron-down{
    margin-left: 10px;
}