.m-calendar{
    width: 180px;
}
.m-calendar .m-combobox{
    border: 1px solid #bbbbbb;
    border-radius: 4px;
}
.m-calendar .m-combobox:hover{
    border-color: #019160 ;
}
.m-calendar .m-combobox .m-input{
    border: unset;
    height: 38px;
    padding-right: 0;
}

.m-calendar .m-combobox .m-combobox-btn{
    border: none;
    height: 38px;
}
.m-calendar .m-combobox .m-combobox-btn{
    padding: 0 12px;
    background-color: #ffffff;
    border-radius: 0 4px 4px 0;
}
.m-calendar .m-combobox .m-combobox-btn:hover{
    background-color: #E9EBEE;
}