.mi{
    background: url(../../images/icon/IconSprite.png) no-repeat;
    cursor: pointer;
}
.mi-24{
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
    margin-right: 8px;
}
.mi-32{
    width: 32px;
    height: 32px;
    min-width: 32px;
    min-height: 32px;
}
.mi-16 {
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
}
.mi-14{
    width: 14px;
    height: 14px;
    min-width: 14px;
    min-height: 14px;
}
.mi-new{
    background-position: 0 -2648px;
}
.mi-duplicate{
    background-position: 0 -1888px;
}
.mi-update{
    background: url('../../images/icon/Edit16.png') no-repeat !important;
}
.mi-delete{
    background-position: 0 -2680px;
}
.mi-refresh{
    background-position: 0 -2584px!important;
}
.mi-chevron-down {
    background: #fff url('../../images/icon/default-small-arrow.png') no-repeat;
    background-position: 0 center;
}
.mi-sidebar-menu{
    background-image: url('../../images/icon/vector-smart-object.png');
}
/* .mi-notifi{

} */
.m-account-image{
    width: 28px;
    height: 28px;
    background: url('../../images/icon/EmployeeImage.png') no-repeat;
    background-color: #fff;
    background-position: 2px 1px;
    border-radius: 50%;
}
.mi-speaker{
    background-image: url('../../images/icon/speaker.png');
}
.mi-close{
    background-image: url('../../images/icon/tool-sprites.png') !important;
    background-position: 0 0;
    background-color: transparent!important;
    cursor: pointer;
}
.mi-help{
    background-position: 0 -1600px!important;
}
.mi-save{
    background-image: url(../../images/icon/Save16.png);
}
.mi-save-add{
    background-image: url(../../images/icon/SaveAdd16.png);
}
.mi-cancel{
    background-image: url(../../images/icon/Disable16.png);
}
.mi-page-first{
    background-image: url(../../images/icon/page-first.png);
    background-repeat: no-repeat;
    background-position: 2px 2px;
}
.mi-page-pre{
    background-image: url(../../images/icon/page-prev.png);
    background-repeat: no-repeat;
    background-position: 2px 2px;
}
.mi-page-next{
    background-image: url(../../images/icon/page-next.png);
    background-repeat: no-repeat;
    background-position: 2px 2px;
}
.mi-page-last{
    background-image: url(../../images/icon/page-last.png);
    background-repeat: no-repeat;
    background-position: 2px 2px;
}
.mi-page-refresh{
    background-image: url(../../images/icon/refresh.png);
    background-repeat: no-repeat;
    background-position: 2px 2px;
}
.mi-dropdown{
    background: #fff  url(../../images/icon/trigger.png);
    background-repeat: no-repeat;
    background-position: 0 center;
    width: 22px;
}
.mi-pen{
    background-image: url(../../images/icon/selectIconMenu.png);
    background-repeat: no-repeat;
    background-position: 2px 2px;
}
.mi-warning{
    background-image: url(../../images/icon/exclamation.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.mi-info{
    background-image: url(../../images/icon/icon-info32-2.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.mi-sort-asc{
    background-image: url(../../images/icon/sort_asc.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.mi-sort-desc{
    background-image: url(../../images/icon/sort_desc.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.mi-error{
    background-image: url(../../images/icon/icon-warning.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.mi-question{
    background-image: url(../../images/icon/icon-question.png);
    background-repeat: no-repeat;
    background-position: center center;
}