.m-modal-medium {
  display: none;
}
.m-modal-medium .m-modal {
  width: 750px;
  height: 580px;
  z-index: 19000;
  background-color: #fff;
  border-radius: 4px;
  border: 5px solid #0072bc;
  border-top: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.m-modal-show {
  display: block;
}

/* MODAL HEADER */
.m-modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0072bc;
  height: 30px;
  padding: 3px 4px 1px;
}
.m-modal .m-modal-title {
  color: #fff;
}

/* MODAL CONTENT */
.m-modal-content {
  box-sizing: border-box;
  padding: 8px 0px 0px;
  height: 492px;
  overflow-y: auto;
}
.m-modal-group {
  display: flex;
  justify-content: flex-start;
}
.m-row span {
  color: red;
}
.m-row .m-input,
.m-row textarea {
  width: 100%;
}
.m-textarea {
  align-items: flex-start !important;
}
.m-textarea textarea {
  box-sizing: border-box;
  outline: unset;
  border: 1px solid #ccc;
  padding: 3px 5px;
}
.m-textarea textarea:focus {
  border-color: #0072bc;
}
.m-modal .m-row {
  width: 100% !important;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 4px 10px;
}
.m-row-inner {
  width: 100% !important;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.m-modal-col-6 {
  width: 50% !important;
}
.m-modal-col-3 {
  width: 30% !important;
}
.m-modal-col-9 {
  width: 70% !important;
}
.m-modal-col-2 {
  width: 14.7% !important;
}
.m-modal-col-10 {
  width: 86.3% !important;
}

/* TAB */
.m-tab-bar {
  margin: 0px 8px 4px;
  padding-left: 8px;
  box-sizing: border-box;
  height: 28px;
  background-color: #f5f5f5 !important;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.tab-conversions {
  padding: 5px 8px;
  box-sizing: border-box;
  width: 130px;
  background-color: #fff;
  border: 0 1px 0 1px solid #d3d3d3 !important;
  border-top: 2px solid #0072bc !important;
  /* box-shadow: 0 1px 1px 1px #d3d3d3!important; */
  margin-left: 1px !important;
  color: #0072bc;
  cursor: pointer;
}

/* TABLE */
.m-modal-grid-view {
  margin: 0 8px 4px;
  height: 176px;
  border: 1px solid #ccc;
  border-top: none;
}
.m-modal-table {
  border-collapse: collapse;
}
.m-modal-table tr th {
  box-sizing: border-box;
  height: 29px;
  font-weight: lighter;
  background-color: #eeeeee;
  padding: 7px 10px 7px 10px;
  text-overflow: ellipsis;
  cursor: default;
}
/* END TAB */
.m-end-tab {
  margin: 0 8px;
  display: flex;
  justify-content: flex-start;
}

.m-end-tab > button,
.m-modal-footer > button {
  height: 25px !important;
}
/* FOOTER */
.m-modal-footer {
  margin: 18px 8px 0;
  height: 25px;
  display: flex;
  justify-content: space-between;
}
.m-footer-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
/* MODAL BACKGROUND */
.modal-background {
  z-index: 11;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(10, 10, 10, 0.4);
}
/* Image */
.m-photo-box {
  padding: 0px 8px 8px;
  margin: 20px -2px;
  width: 213px;
  height: 183px;
  border: 1px solid #afafaf;
}

.m-photo-box legend {
  width: 88px;
  top: 120px;
  position: absolute;   
  background-color: #ffffff;
  padding: 0 8px;
}

.m-photo-box .m-photo {
  margin: 8px 0px;
}
.m-photo-box .m-btn {
  width: 27px;
  height: 25px;
  border: 1px solid #ccc;
  margin: 4px;  
  padding: 0;
}

.m-photo-label {
  position: absolute;
  top: 273px;
  right: 51px;
  text-align: center;
}

.m-photo-default {
    background-image: url(../../images/icon/ImageHandler.png);
    width: 160px;
    height: 120px;
}