.m-popup-box {
    display: none;
}
.m-popup {
    position: absolute;
    background-color: #ffffff;
    z-index: 21;
    height: 142px;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    border:5px solid #0072bc;
    border-top: none;
    box-shadow: rgb(136 136 136) 0px 0px 6px;
    border-radius: 4px;
}
.m-popup-header{
    padding-left: 2px;
    height: 30px;
    line-height: 30px;
    background-color: #0072bc;
    color: #fff;
}
.m-popup-content {
    padding: 10px;
    height: 71px;
}
.m-popup-content .m-messenger {
    flex: 1;
    margin-left: 10px;
}   
.m-popup-footer{
    height: 36px;
    padding: 6px;
}
.m-popup-footer .m-btn{
    height: 24px;
    margin-right: 4px;
    border: 1px solid #ccc;
    background-image: linear-gradient( #f9f9f9, #e4e5e7);
}
.m-popup-footer .m-btn:hover{
border: 1px solid #0072bc;
}
.m-popup-background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 20;
  }
.m-popup-show {
    display: block;
}