.m-table {
  border-spacing: unset;
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  border-collapse: collapse;
  background-color: #ededed;
  overflow-x: scroll;
  width: calc(100vw - 246px);
  display: block;
}
table.m-table thead,
table.m-table tbody {
  display: block;
}

table.m-table thead {
  width: calc(100% - 17px);
  min-height: 55px;
}

table.m-table tbody {
  background-color: #fff;
  height: calc(100vh - 250px);
  overflow-y: scroll;
  overflow-x: hidden;
}

table.m-table tr {
  box-sizing: border-box;
  height: 24px !important;
  border-bottom: 1px solid #ddd;
  cursor: default;
}
table.m-table th {
  box-sizing: border-box;
  text-align: center;
  font-weight: lighter;
  top: 28px;
  background-color: #ededed;
  width: 200px;
  /* height: 55px !important; */
}
table th .m-th-name {
  height: 29px !important;
  padding: 7px 10px;
  vertical-align: center;
}
table .m-filter {
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2px;
}
.m-cbb-filter span {
  display: inline-block;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  line-height: 24px;
  border: 1px solid #ccc;
  background-color: #fff;
}
.m-filter .m-input {
  width: 100%;
}

table.m-table tbody tr:hover {
  background-color: #d7e9f4;
}

table.m-table td {
  padding: 3px 10px 2.5px !important;
}
table.m-table td,
th {
  padding: 0 2px;
  /* white-space: pre-wrap; */
  border-left: 1px solid;
  border-color: #d9d9d9;
  min-width: 120px;
}
table.m-table td,
th:last-child {
  border-right: 1px solid;
  border-color: #d9d9d9;
}
table.m-table tr:nth-child(2n) {
  background-color: #fafafa;
}
/* thead, tbody tr {
  display:table;
  width:100%;
  table-layout:fixed;
} */
.row-active {
  background-color: #d7e9f4 !important;
}
