@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");
@import url("./common/common.css");
@import url("./component/button.css");
@import url("./component/input.css");
@import url("./component/combobox.css");
@import url("./component/dropdown.css");
@import url("./component/table.css");
@import url("./component/pagigation.css");
@import url("./component/chip-status.css");
@import url("./component/toast.css");
@import url("./component/checkbox.css");
@import url("./component/dialog.css");
@import url("./component/modal.css");
@import url("./component/calendar.css");
@import url("./component/loading.css");
@import url("./component/icon.css");

@import url("./layouts/content.css");
@import url("./layouts/navbar.css");
@import url("./layouts/header.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-transform: none;
  text-decoration: none;
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
  -webkit-text-decoration-style: initial;
  text-decoration-style: solid;
  -webkit-text-decoration-color: initial;
  text-decoration-color: initial;
  font-family: inherit;
  font-size: inherit;
}

body {
  font-family: Tahoma, arial, sans-serif !important; 
  font-size: 13px;
  background: #f4f5f8;
  font-weight: 400;
}
body {
  font-family: TahomaCustom !important;
  font-size: 13px !important;
  background-color: #f4f5f8;
}

a {
  text-decoration: none;
}
/* Import font */
@font-face {
  font-family: TahomaCustom ;
  src: url('../fonts/Tahoma_Regular.woff');
}

@font-face {
  font-family: TahomaCustom bold ;
  src: url('../fonts/Tahoma_Bold.woff');
}

@font-face {
  font-family: TahomaCustom italic ;
  src: url('../fonts/Tahoma_Italic.woff');
}

